* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: url('../src/bg1.png') no-repeat center center fixed;
    animation: gradientBG 50s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 360px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-75%);
    font-size: 14px;
    color: #ddd;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #ffd700;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.error {
    margin-top: 15px;
    color: #ffb3b3;
    font-size: 14px;
}
.toggle-text {
    margin-top: 20px;
    font-size: 14px;
}

.toggle-text a {
    color: #ffd700;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.toggle-text a:hover {
    text-decoration: underline;
}

footer p{
    color: #dd2443;
}